body {
  margin: 0;
}

#navbar {
  background: #0E0E0E;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

#navbar img {
  margin-bottom: 1.3%;
  width: 12%;
}

#navbar ul li {
  display: inline;
  padding: 0 1.5%;
}

#navbar ul li a {
  color: #958B81;
  text-decoration: none;
  font-size: 18px;
}

.main-header {
  background-image: url('https://cdn.vox-cdn.com/thumbor/ufh2N5hs2Jq5GT2xMFrQ_Nodgp8=/0x0:5760x3840/1200x900/filters:focal(2420x1460:3340x2380)/cdn.vox-cdn.com/uploads/chorus_image/image/55306753/shutterstock_274960727.0.jpg');
  background-size: cover;
  background-position: 50% 25%;
  height: 39vh;
}

.image-grid {
  display: grid;
}

.image-grid div {
  background-image: url('http://lorempixel.com/400/200/city');
  width: 400px;
  height: 200px;
}